/* SHARED COMPONENTS */

body {
  margin: 0;
  min-width: 1200px;
}

nav {
  width: 0;
  position: fixed;
  font-size: 0;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 5, 15, .8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

nav .fa-angle-double-left {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 30px;
  opacity: 0;
}

nav .fa-angle-double-left:hover {
  font-size: 33px;
  cursor: pointer;
}

.nav-open {
  width: 550px;
  font-size: 40px;
}

.nav-open .fa-angle-double-left {
  opacity: 1;
}

.nav-open a {
  opacity: 1;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Rufina', serif;
  text-transform: lowercase;
  margin-top: 15px;
  opacity: 0;
}

nav a:first-of-type {
  margin-top: -25px;
}

nav a:hover {
  color: rgb(132, 123, 134);
}

.logo:hover {
  cursor: pointer;
}

.intro {
  min-height: 535px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 100px 0 100px;
  color: white;
}

.intro header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro header h1 {
  font-family: 'Comfortaa', cursive;
  font-weight: 100;
  letter-spacing: 15px;
}

.intro header .fa-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 70px;
  font-size: 30px;
  font-weight: lighter;
  background-color: rgb(40, 80, 106);
  -webkit-text-stroke: 3px rgb(40, 80, 106);
  position: fixed;
  top: 125px;
  left: 85%;
  transition: 0.2s;
  z-index: 3;
}

.intro header .fa-bars:hover {
  cursor: pointer;
  font-size: 33px;
}

.intro-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text p {
  font-family: 'Rufina', serif;
  font-weight: lighter;
  font-size: 25px;
  display: block;
  width: 100%;
  text-align: left;
  line-height: 40px;
  color: white;
}

.intro-text .fa-angle-double-down {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1.5px solid white;
  border-bottom: none;
  font-size: 30px;
  height: 70px;
  width: 85px;
}

.intro-text .fa-angle-double-down:hover {
  cursor: pointer;
  font-size: 35px;
  transition: 0.2s;
}

.footer {
  padding: 100px 100px 20px 100px;
  min-height: 400px;
  background-color: rgb(0, 05, 15);
  box-sizing: border-box;
  color: white;
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer h1 {
  font-weight: 100;
  letter-spacing: 15px;
}

.footer footer {
  border-top: .5px solid rgb(160, 160, 160);
  display: flex;
  justify-content: space-between;
}

.footer footer .footer-text {
  display: flex;
}

.footer footer .footer-text a, .footer footer .footer-text p {
  color: rgb(160, 160, 160);
  margin: 30px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
}

.footer footer .footer-text a:first-of-type {
  margin-left: 0;
}

.footer footer .footer-text a:hover {
  color: white;
}

.footer footer .footer-text p {
  margin-right: 0;
}


/* HOME PAGE */

#home-intro {
  background-image: url("images/web_dev_landscape.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.who {
  min-height: 500px;
  padding: 0 200px 0 100px;
  background-color: rgb(40, 80, 106);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.who p {
  font-size: 30px;
  font-family: 'Rufina', serif;
  font-weight: lighter;
  line-height: 60px;
  color: rgb(209, 207, 211);
  margin: 0;
}

.who .white {
  color: white;
}

.who .small {
  font-size: 12px;
  letter-spacing: 2px;
  display: block;
  border-bottom: 1px solid white;
  font-family: 'Comfortaa', cursive;
  line-height: 30px;
  margin-top: 25px;
  width: 105px;
  text-decoration: none;
}

.who .small:hover {
  color: rgb(209, 207, 211);
  cursor: pointer;
}

.clients {
  min-height: 400px;
  background-color: rgb(245, 245, 245);
  color: black;
  padding: 100px 0;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
}

.clients .small {
  display: block;
  width: 1100px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 75px;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  letter-spacing: 2px;
}

.project {
  width: 30%;
}

.project .project-img {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.project .project-img:hover {
  opacity: 0.1;
  transition: 0.5s;
  cursor: pointer;
}

.project .project-img-overlay:hover .more{
  opacity: 1;
  transition: 0.5s;
}

.project .project-img-overlay {
  height: 230px;
  width: 100%;
  margin: 25px 0;
  z-index: 1;
  position: relative;
  background-color: rgb(0, 5, 15);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  position: absolute;
  font-size: 15px;
  margin: 0;
  font-weight: lighter;
  opacity: 0;
}

#nissan .project-img {
  background-image: url("images/nissan-leaf.jpg");
  background-size: 120%;
  background-position: left;
}

#theaterengine .project-img {
  background-image: url("images/theaterengine.jpg");
  background-size: 120%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

#goodsantiques .project-img {
  background-image: url("images/about-page.jpg");
  background-size: 120%;
  background-position: center-bottom;
  padding: 0;
}

.project .project-img img {
  width: 80%;
}

#nissan img {
  width: 20%;
}

#goodsantiques .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#goodsantiques img {
  margin: 10px;
  width: 90%;
}

#theaterengine img {
  margin-bottom: 15px;
}

.project h2 {
  font-weight: bolder;
  font-size: 14px;
}

.project h4 {
  font-size: 12px;
  line-height: 20px;
}

/* ABOUT PAGE */

#about-intro {
  background-color: rgb(0, 5, 15);
}

#about-intro .intro-text {
  margin-bottom: 100px;
  width: 85%;
}

#about-intro .intro-text h2 {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 15px;
  text-align: left;
  display: block;
  width: 100%;
  padding-bottom: 25px;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

#about-intro .intro-text p {
  color: rgb(209, 207, 211);
}

#about-intro .fa-bars {
  background-color: rgb(0, 5, 15);
  -webkit-text-stroke: 3px rgb(0, 5, 15);
}

.me {
  min-height: 500px;
  padding: 150px 300px 100px 100px;
  background-color: rgb(250, 250, 250);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.me p {
  font-size: 30px;
  font-family: 'Rufina', serif;
  font-weight: lighter;
  line-height: 60px;
  color: rgb(0, 5, 15);
  margin: 0;
}

.me .white {
  color: rgb(40, 80, 106);
}

.skills {
  min-height: 500px;
  padding: 150px 100px;
  display: flex;
  background-color: rgb(132, 123, 133);
  justify-content: flex-start;
  box-sizing: border-box;
}

.skills-box {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}

#skills {
  width: 400px;
}

.skills-box h2 {
  font-size: 12px;
  display: block;
  border-bottom: 1px solid white;
  width: 23%;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 3px;
  margin: 0;
  padding: 10px 0;
}

#short {
  width: 20%;
}

.skills-box p {
  font-size: 25px;
  font-family: 'Rufina', serif;
  display: block;
  width: 70%;
  margin: 0;
  line-height: 40px;
  color: white;
}

/* CONTACT PAGE */

#contact-intro {
  background-color: (240, 240, 240);
  min-height: 600px;
  padding-bottom: 200px;
  box-sizing: border-box;
}

#contact-intro h1 {
  font-weight: normal;
}

#contact-intro h1, #contact-intro p {
  color: rgb(0, 5, 15);
}

#contact-intro .intro-text {
  align-items: flex-start;
}

#contact-intro .intro-text h2 {
  color: rgb(0, 5, 15);
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
}

#contact-intro .intro-text p {
  margin: 0;
  font-family: 'Rufina', serif;
  color: rgb(133, 123, 130);
  font-size: 30px;
}

#contact-intro .intro-text a {
  text-decoration: none;
  color: rgb(133, 123, 130);
}

#contact-intro .intro-text a:hover {
  color: rgb(0, 5, 15);
  border-bottom: 1px solid rgb(0, 5, 15);
}

#map {
  width: 100%;
  height: 400px;
  filter: grayscale(80%);
}

/* TheaterEngine */

#theaterengine-intro {
  background-image: url("images/theaterengine.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#theaterengine-intro .fa-bars {
  background-color: rgb(133, 123, 131);
  -webkit-text-stroke: 3px rgb(133, 123, 131);
}

#te-who {
  background-color: rgb(133, 123, 131);
}

#te-who p {
  font-size: 25px;
}

#te-who .white {
  font-size: 30px;
}

.client-logo {
  min-height: 400px;
  padding: 150px;
  box-sizing: border-box;
  background-color: rgb(0, 5, 15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-logo img {
  height: 100px;
}

#te-who .supplement, #ng-who .supplement, #ga-who .supplement {
  font-size: 15px;
}

/* Nissan */

#nissan-intro {
  background-image: url("images/nissan-leaf.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left-bottom;
  background-size: 100%;
}

#ng-who {
  min-height: 600px;
}

#ng-logo img {
  height: 200px;
}

#ng-who p {
  font-size: 25px;
}

#ng-who .white {
  font-size: 30px;
}

/* Goods Antiques */

#goodsantiques-intro {
  background-image: url("images/about-page.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

#ga-logo img {
  height: 50px;
}

#goodsantiques-intro .fa-bars {
  background-color: rgb(80, 83, 80);
  -webkit-text-stroke: 3px rgb(80, 83, 80);
}

#ga-who {
  min-height: 600px;
}

#ga-who {
  background-color: rgb(80, 83, 80);
}

#ga-who p {
  font-size: 25px;
}

#ga-who .white {
  font-size: 30px;
}

/* MQ */

@media only screen and (max-width: 1135px) {

#home-intro {
  background-size: 120%;
}

#theaterengine-intro {
  background-size: 120%;
}

#nissan-intro {
  background-size: 120%;
}

#goodsantiques-intro {
  background-size: 120%;
}

}

@media only screen and (max-width: 950px) {

#home-intro {
  background-size: 150%;
}

#theaterengine-intro {
  background-size: 150%;
}

#nissan-intro {
  background-size: 150%;
}

#goodsantiques-intro {
  background-size: 150%;
}

}

@media only screen and (max-width: 760px) {

#home-intro {
  background-size: 200%;
}

#theaterengine-intro {
  background-size: 200%;
}

#nissan-intro {
  background-size: 200%;
}

#goodsantiques-intro {
  background-size: 200%;
}

}

@media only screen and (max-width: 575px) {

#home-intro {
  background-size: 250%;
}

#theaterengine-intro {
  background-size: 250%;
}

#nissan-intro {
  background-size: 250%;
}

#goodsantiques-intro {
  background-size: 250%;
}

}


@media only screen and (max-width: 465px) {

#home-intro {
  background-size: 300%;
}

#theaterengine-intro {
  background-size: 300%;
}

#nissan-intro {
  background-size: 300%;
}

#goodsantiques-intro {
  background-size: 300%;
}

}


/* MQ phones & tablets */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait) {

.main {
  padding-left: 50px;
  padding-right: 50px;
}

body {
  min-width: initial;
}

.projects {
  width: 100%;
}

#home-intro {
  background-attachment: initial;
}

#theaterengine-intro {
  background-attachment: initial;
}

#nissan-intro {
  background-attachment: initial;
}

#goodsantiques-intro {
  background-attachment: initial;
}

.who {
  padding: 100px 200px 100px 50px;
}

.clients {
  padding: 100px 50px;
}

.clients .small {
  width: 100%;
}

#map {
  height: 500px;
}

.intro-text .fa-angle-double-down {
  opacity: 0;
  font-size: 0;
  padding: 0;
  border: none;
  position: relative;
  z-index: -1;
}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: landscape) {

#home-intro {
  background-attachment: initial;
}

#theaterengine-intro {
  background-attachment: initial;
}

#nissan-intro {
  background-attachment: initial;
}

#goodsantiques-intro {
  background-attachment: initial;
}

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: portrait) {

.main {
  padding-left: 50px;
  padding-right: 50px;
}

body {
  min-width: initial;
}

.projects {
  width: 100%;
}

#home-intro {
  background-attachment: initial;
}

#theaterengine-intro {
  background-attachment: initial;
}

#nissan-intro {
  background-attachment: initial;
}

#goodsantiques-intro {
  background-attachment: initial;
}

.who {
  padding: 100px 200px 100px 50px;
}

.clients {
  padding: 100px 50px;
}

.clients .small {
  width: 100%;
}

#map {
  height: 500px;
}

.intro-text .fa-angle-double-down {
  opacity: 0;
  font-size: 0;
  padding: 0;
  border: none;
  position: relative;
  z-index: -1;
}

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: landscape) {

#home-intro {
  background-attachment: initial;
}

#theaterengine-intro {
  background-attachment: initial;
}

#nissan-intro {
  background-attachment: initial;
}

#goodsantiques-intro {
  background-attachment: initial;
}

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: portrait) {

.main {
  padding-left: 50px;
  padding-right: 50px;
}

body {
  min-width: initial;
}

.projects {
  width: 100%;
}

#home-intro {
  background-attachment: initial;
}

#theaterengine-intro {
  background-attachment: initial;
}

#nissan-intro {
  background-attachment: initial;
}

#goodsantiques-intro {
  background-attachment: initial;
}

.who {
  padding: 100px 200px 100px 50px;
}

.clients {
  padding: 100px 50px;
}

.clients .small {
  width: 100%;
}

#map {
  height: 500px;
}

.intro-text .fa-angle-double-down {
  opacity: 0;
  font-size: 0;
  padding: 0;
  border: none;
  position: relative;
  z-index: -1;
}

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: landscape) {

#home-intro {
  background-attachment: initial;
}

#theaterengine-intro {
  background-attachment: initial;
}

#nissan-intro {
  background-attachment: initial;
}

#goodsantiques-intro {
  background-attachment: initial;
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: portrait) {

.main {
  padding-left: 50px;
  padding-right: 50px;
}

body {
  min-width: initial;
}

.projects {
  width: 100%;
}

#home-intro {
  background-attachment: initial;
}

#theaterengine-intro {
  background-attachment: initial;
}

#nissan-intro {
  background-attachment: initial;
}

#goodsantiques-intro {
  background-attachment: initial;
}

.who {
  padding: 100px 200px 100px 50px;
}

.clients {
  padding: 100px 50px;
}

.clients .small {
  width: 100%;
}

#map {
  height: 500px;
}

.intro-text .fa-angle-double-down {
  opacity: 0;
  font-size: 0;
  padding: 0;
  border: none;
  position: relative;
  z-index: -1;
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: landscape) {

#home-intro {
  background-attachment: initial;
}

#theaterengine-intro {
  background-attachment: initial;
}

#nissan-intro {
  background-attachment: initial;
}

#goodsantiques-intro {
  background-attachment: initial;
}

}
